.wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btnGood {
  width: 100px;
  height: 30px;

  border-radius: 3px;
  border: none;

  background-color: green;
  color: #fafaff;

  transition: transform 0.3s ease;

  &:hover {
    background-color: rgb(5, 188, 5);
    color: #fafaffe8;
  }
}

.btnNeutral {
  width: 100px;
  height: 30px;

  border-radius: 3px;
  border: none;

  background-color: orange;
  color: #fafaff;

  transition: transform 0.3s ease;

  &:hover {
    background-color: rgb(254, 189, 67);
    color: #fafaff;
  }
}
.btnBad {
  width: 100px;
  height: 30px;

  border-radius: 3px;
  border: none;

  background-color: red;
  color: #fafaff;

  transition: transform 0.3s ease;

  &:hover {
    background-color: rgb(224, 69, 69);
    color: #fafaff;
  }
}

.btnReset {
  width: 100px;
  height: 30px;

  border-radius: 3px;
  border: none;

  background-color: rgb(23, 23, 247);
  color: #fafaff;

  transition: transform 0.3s ease;

  &:hover {
    background-color: rgb(59, 59, 236);
    color: #fafaff;
  }
}
