.appContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.firstSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secondSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
